<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3{
            color: yellow;
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <h3>Your Good Name plz: {{Name}}</h3>
    <h3>What is your role: {{Role}}</h3>
    <h3>Howmuch is your package:{{package}}</h3>
    <h3>Howmuch is your age:{{age}}</h3>
</body>
</html>